<link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <a href="/" class="back-button">Back to Continents</a>

    </header>
    
    <main class="country-list">
        <h1>Countries in Antarctica</h1>
        <ul>
            <% if (countryNames) { %>
                <% countryNames.forEach(country => { %>
                    <li><h3><%= country.name %></h3>
                        <p><%= country.capital %></p>
                        <img src="<%= country.flag %>" alt="<%= country.name %> Flag" class="flag">                    </li>

                <% }) %>
            <% } else { %>
                <li>No countries found in Antarctica.</li>
            <% } %>
        </ul>
    </main>

    <footer>
        <a href="/" class="back-button">Back to Continents</a>
    </footer>
