<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continents</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>Explore Continents</h1>
    <div class="continent-buttons">
        <a href="/Africa" class="continent-button">
            <img src="images/africa.png" alt="Africa">
            <span>  Africa  </span>
        </a>
        <a href="/Asia" class="continent-button">
            <img src="/images/asia.jpg" alt="Asia">
            <span>Asia</span>
        </a>
        <a href="/Europe" class="continent-button">
            <img src="images/europe.webp" alt="Europe">
            <span>Europe</span>
        </a>
        <a href="/north-america" class="continent-button">
            <img src="/images/north-america.png" alt="North America">
            <span>North America</span>
        </a>
        <a href="/south-america" class="continent-button">
            <img src="/images/south-america.jpg" alt="South America">
            <span>South America</span>
        </a>
        <a href="/Oceania" class="continent-button">
            <img src="/images/Australia.jpg" alt="Australia">
            <span>Oceania</span>
        </a>
        <a href="/Antarctica" class="continent-button">
            <img src="/images/antarctica.webp" alt="Antarctica">
            <span>Antarctica</span>
        </a>
    </div>
</body>
</html>
